Repository HYF-Class20/agile-development-groups1-all-about-trees, pull requests merged in 2023-04, with the labels that each got.

#7 added user story, story sequence diagram and wireframe
  package-lock.json
  package.json
  planning/backlog.md
  planning/img/story-sequence-diagram.png
  planning/img/user-stories.png
  planning/user-personas.md
Labels: UserStories, Story sequence diagram, WireFrame

#20 Updated constrains file
  planning/constraints.md
Labels: documentation, organization, communication

#18 Communication plan draft updated
  planning/communication.md
Labels: documentation, organization, communication

#23 Code
  code/css/style.css
  code/img/happy-tree.jpg
  code/index.html
  code/pages/intro.html
  index.html
Labels: code

#15 modified readme file
  README.md
Labels: readme

#30 Backlog for tree
  README.md
  planning/backlog.md
  planning/img/story-sequence-diagram.png
  planning/img/user-stories.png
Labels: backlog

#25 Updated retrospective
  planning/retrospective.md
Labels: documentation, communication

#39 updated details readme
  README.md
Labels: documentation

#37 Created Css readme
  README.md
Labels: documentation

#35 updated ReadMe
  README.md
Labels: phase1
